# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# composer and old script
test.php
.idea/
vendor/
composer.lock
running.status
stop.cmd
last_links.txt
stats/data.stats
stats/deleted.txt
stats/invalid.txt
stats/domainRedirects.txt
stats/unresponsive.txt
stats/spaces.txt
stats/Errors.log.txt
stats/otherhosts.txt

!stats/.gitkeep
